@import "https://fonts.googleapis.com/css?family=Tangerine";
.centered-form{
    margin: 0 auto;
    float: none;
}


.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(120, 226, 240, 0.3) 20px 20px 20px;
    
    padding: 20px;
}

.centered-form .panel .panel-heading{
    text-align: center;
    padding: .5em;
}

.centered-form .panel .panel-body{
    margin-top: .5em;
}

.error{
    color: red;
    font-size: 13px;
}

form h5{
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

img{
    border-radius: 45%;
    height: 80px;
}

.nav{
    background-color: transparent !important;
    position: absolute;
    z-index: 100;
}
.solid{
  color:white;
  background-color: rgb(88, 86, 88);
  transition: background-color 1s ease 0s;
}

.text-light{
    color: white !important;
}

.txt{
    font-family: 'Quicksand';
    font-weight: bold;
}

.navbar-brand{
    text-decoration: none;
    font-size: 3vw;
    color:white;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(37, 192, 240, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.smallHeader{
    background-color: black;
    width: 50px !important;
    opacity: 0.9;
    padding-left: 20px;
}