<nav class="navbar navbar-expand-lg" style="color: #e3f2fd;">
    <!-- <a class="navbar-brand" routerLink="/"><img src="../../assets/TravelManiaLogo.JPG" alt=""></a> -->
    <button (click) ="isCollapsed = !isCollapsed"class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand txt" routerLink="/">TravelMania</a>
 
     <div class="collapse navbar-collapse" *ngIf="isCollapsed" [ngbCollapse]="isCollapsed">
       <ul class="navbar-nav mr-auto">
         <li class="nav-item active">
           <a class="nav-link text-light txt" routerLink="/home">Home <span class="sr-only">(current)</span></a>
         </li>
         <li class="nav-item">
           <a class="nav-link text-light txt" routerLink="/hotels">Hotels</a>
         </li>
         <!-- <li class="nav-item">
           <a class="nav-link text-light txt" routerLink="/travelGuide">Travel Guide</a>
         </li> -->
         <li class="nav-item">
           <a class="nav-link text-light txt" routerLink="/currencyPartner">Upcoming Events</a>
         </li>
       </ul>
       <form *ngIf="!userSignedIn" class="form-inline my-2 my-lg-0">
          <button class="btn btn-outline-info txt" type="submit" routerLink="/login">Login</button>&nbsp;
          <button class="btn btn-outline-info txt" type="submit" routerLink="/signUp">SignUp</button>
       </form>
 
       <form *ngIf="userSignedIn" class="form-inline my-2 my-lg-0">
         <h5 class="txt">Welcome {{user}}!</h5> &nbsp;&nbsp;&nbsp;
         <button class="btn btn-outline-info txt" type="submit" (click)="logOut()">Logout</button>
      </form>
     </div>

     <div class="collapse navbar-collapse smallHeader" id="navbarSupportedContent" *ngIf="!isCollapsed" [ngbCollapse]="isCollapsed">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link text-light txt" routerLink="/home">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light txt" routerLink="/hotels">Hotels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light txt" routerLink="/travelGuide">Travel Guide</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light txt" routerLink="/currencyPartner">Upcoming Events</a>
          </li>
        </ul>
        <form *ngIf="!userSignedIn" class="form-inline my-2 my-lg-0">
           <button class="btn btn-outline-info txt" type="submit" routerLink="/login">Login</button>&nbsp;
           <button class="btn btn-outline-info txt" type="submit" routerLink="/signUp">SignUp</button>
        </form>
  
        <form *ngIf="userSignedIn" class="form-inline my-2 my-lg-0">
          <h5 class="txt">Welcome {{user}}!</h5> &nbsp;&nbsp;&nbsp;
          <button class="btn btn-outline-info txt" type="submit" (click)="logOut()">Logout</button>
       </form>
      </div>
   </nav>